body {
	font-family: "Red Hat Display", sans-serif;
	background-color: #D6E1FF;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 495px;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 20px;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-weight: 900;
	margin-top: 45px;
	font-size: 28px;
	color: #1F2E55;
}

p {
	text-align: center;	
	font-weight: 500;
	font-size: 16px;
	color: #717FA6;
	margin: 17px auto 0px auto;
	max-width: 354px;
	line-height: 26px;
}

.plan {
	background-color: #F7F9FF;
	max-width: 354px;
	width: 100%;
	margin: 20px auto 0px auto;
	border-radius: 11px;
}

.payment {
	background-color: #382AE1;
	color: #FFFFFF;
	font-weight: 900;
	font-size: 15px;
	margin: 32px auto 0px auto;
	max-width: 354px;
	width: 100%;
	border-radius: 11px;
	box-shadow: 0 20px 20px 0px rgb(56 42 225 / 19.03%);
	display: block;
	cursor: pointer;
	border: 0;
	padding: 15px 15px;
}

.payment:hover {
	background-color: #766CF1;
}

.cancel {
	color: #717FA6;
	font-weight: 900;
	font-size: 15px;
	margin: 32px auto 48px auto;
	width: 100%;
	border: 0;
	background-color: #FFFFFF;
	cursor: pointer;
}

.cancel:hover {
	color: #1F2E55;
}
